<template name="newTarget">
<h4>Proposez un nouveau trajet !</h4>

<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
  	<span>Ville de départ : </span>
    <input type="text" class="form-control" placeholder="ex : Montpellier">
  </div>
</form>
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
  <span>Ville d'arrivée : </span>
    <input type="text" class="form-control" placeholder="ex : Paris">
  </div>
</form>
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
  <span>Lieu de départ : </span>
    <input type="text" class="form-control" placeholder="ex : Paris">
  </div>
</form>
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
  <span>Heure de départ : </span>
    <input type="text" class="form-control" placeholder="ex : Paris">
  </div>
  <button type="submit" class="btn btn-default">Proposez le trajet</button>
</form>



</template>