<template name="newTarget">
<h4>Proposez un nouveau trajet !</h4>

<div class="navbar-form navbar-left" role="search">
  <div class="form-group">
  	<span>Ville de départ : </span>
    <input type="text" class="form-control" placeholder="ex : Montpellier" id="lieuDepart">
  </div>
  <div class="form-group">
  <span>Ville d'arrivée : </span>
    <input type="text" class="form-control" placeholder="ex : Paris" id="lieuArrivee">
  </div>
  <div class="form-group">
  <span>Date de départ : </span>
    <input type="text" class="form-control" placeholder="ex : 15/03/2015" id="date">
  </div>
  <div class="form-group">
  <span>Heure de départ : </span>
    <input type="text" class="form-control" placeholder="ex : 15h" id="horaire">
  </div>
  <button  class="btn btn-default" id="validate">Proposez le trajet</button>
</div>



</template>